<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input [(ngModel)]="email" type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" value=""></ion-input>
  </ion-item>

  <button ion-button outline (click)="login()">Login!</button>

</ion-content>
