<!--
  Generated template for the ViewMcqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<style>
  .right{
    border:2px dotted dodgerblue;
    font-size:1.4em;
  }
</style>
<ion-header>

  <ion-navbar>
    <ion-title>{{topic}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let question of questions">
    <ion-card-header>
      {{question.question}}
    </ion-card-header>
    <ion-card-content>
        <ion-list radio-group [(ngModel)]="c">
            <ion-list-header>
              Answer
            </ion-list-header>
          
            <ion-item *ngFor="let answer of question.answers">
              <ion-label [ngClass]="class(answer.correct)">{{answer.answer}}</ion-label>
            </ion-item>
            </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
