<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button outline (click)="goToAddQuestionPage()">Add Question</button>

  <ion-item-divider color="light">Popular categories</ion-item-divider>
  <ion-item color="light" *ngIf="booleanTags">
      <div *ngFor="let tag of categories;let i=index">
        <ion-row *ngIf="i%5==0">
          <ion-col>
            <button ion-button small color="primary" round icon-end *ngIf="i<categories.length" (click)="goToTopic(i)">{{categories[i]}}
            </button>
          </ion-col>
          <ion-col>
            <button ion-button small color="primary" round icon-end *ngIf="i+1<categories.length" (click)="goToTopic(i+1)">{{categories[i+1]}}
              
            </button>
          </ion-col>
          <ion-col>
            <button ion-button small color="primary" round icon-end *ngIf="i+2<categories.length" (click)="goToTopic(i+2)">{{categories[i+2]}}
              
            </button>
          </ion-col>
          <ion-col>
            <button ion-button small color="primary" round icon-end *ngIf="i+3<categories.length" (click)="goToTopic(i+3)">{{categories[i+3]}}
              
            </button>
          </ion-col>
          <ion-col>
            <button ion-button small color="primary" round icon-end *ngIf="i+4<categories.length" (click)="goToTopic(i+4)">{{categories[i+4]}}
              
            </button>
          </ion-col>

        </ion-row>
      </div>
    </ion-item>
</ion-content>
