<ion-header>
  <ion-navbar>
    <ion-title>Manage</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <!-- Assign the FormGroup of form to the HTML form
        via a property binding (allowing the component
        class to communicate/interact with the template -->
  <form [formGroup]="form" (ngSubmit)="manage(form.value)">
    <ion-list margin-bottom>
      <ion-item margin-bottom no-lines>
        <ion-label floating>Question </ion-label>

        <!-- Assign our first FormControl of name to the input field -->
        <ion-input type="text" maxlength="40" formControlName="question"></ion-input>
        <span>Please enter a framework name of no more than 40 characters</span>
      </ion-item>


      <!-- Assign the technologies FormArray to the form
              where we want to track/generate new input track fields -->
      <div formArrayName="answers" margin-bottom radio-group>


        <!-- <ion-list radio-group formControlName="correct"> -->

        <!-- Assign a FormGroupName property binding to track
                 and manage each separate generated input field.
                 Also iterate through the technologies FormArray to
                 correctly track/render new input fields against
                 existing fields -->
        <section [formGroupName]="i" *ngFor="let tech of form.controls.answers.controls; let i = index">
          <ion-row>
            <ion-col>
              <ion-input type="text" maxlength="50" *ngIf="i==0" style="border:2.4px solid rgba(102,187,106 ,1)"
                placeholder="Correct Answer" formControlName="answer"></ion-input>
              <ion-input type="text" maxlength="50" placeholder="Option {{i}}" *ngIf="i!=0" formControlName="answer"></ion-input>
            </ion-col>
            <!-- <ion-col col-1> -->
            <!-- <ion-checkbox formControlName="correct" ></ion-checkbox> -->
            <!-- </ion-col> -->


            <!-- Allow generated input field to be removed -->
            <!-- <ion-col col-1>
              <span float-right ion-button icon-left clear *ngIf="form.controls.answers.length > 1" (click)="removeInputField(i)">
                <ion-icon name="close"></ion-icon>
                Remove
              </span>
            </ion-col> -->

          </ion-row>
        </section>
        <!-- </ion-list> -->

      </div>


      <!-- Allow new input field to be generated/added -->
      <!-- <span ion-button float-left icon-left clear (click)="addNewInputField()">
        <ion-icon name="add"></ion-icon>
        Option
      </span> -->


      <ion-item-divider>
        Tags <button item-right ion-button outline round style="color:blueviolet; text-align: center" icon-end (click)="makeTagsList()">
          + Add Tags
        </button>
      </ion-item-divider>

      <ion-item color="light" *ngIf="booleanTags">
        <div *ngFor="let tag of tags;let i=index">
          <ion-row *ngIf="i%5==0">
            <ion-col>
              <button ion-button small color="primary" round icon-end *ngIf="i<tags.length" (click)="deleteTag(i)">{{tags[i]}}
                <ion-icon name="trash" color="light"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button small color="primary" round icon-end *ngIf="i+1<tags.length" (click)="deleteTag(i+1)">{{tags[i+1]}}
                <ion-icon name="trash" color="light"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button small color="primary" round icon-end *ngIf="i+2<tags.length" (click)="deleteTag(i+2)">{{tags[i+2]}}
                <ion-icon name="trash" color="light"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button small color="primary" round icon-end *ngIf="i+3<tags.length" (click)="deleteTag(i+3)">{{tags[i+3]}}
                <ion-icon name="trash" color="light"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button small color="primary" round icon-end *ngIf="i+4<tags.length" (click)="deleteTag(i+4)">{{tags[i+4]}}
                <ion-icon name="trash" color="light"></ion-icon>
              </button>
            </ion-col>

          </ion-row>
        </div>
      </ion-item>
    </ion-list>
    <button ion-button block margin-top color="primary" text-center [disabled]="!form.valid">Submit</button>
  </form>

</ion-content>
